<!DOCTYPE html>
<html>
  <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130132342-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-130132342-2');
    </script>

    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="shortcut icon" href="../img/orange-logo.ico">

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="../css/style8.2.css">
  </head>
  <body id = "page-top">
        <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" >
      <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Vitamin See</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Log Out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#account">My Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contacts">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#words">Personalized Words</a>
          </li>
          <!--<li class="nav-item">-->
          <!--  <a class="nav-link" href="#join_waddle">Join a Waddle</a>-->
          <!--</li>-->
        </ul>
      </div>
    </nav>
    <!--<section class="header" style="background-image:url(/img/penguin-group.jpg);background-repeat:no-repeat;background-size:cover;background-color:linear-gradient(to left, #5CC8F2, #0487D9);">-->
    <!--  <div class="cta-content">-->
    <!--  </div>-->
    <!--  <div class="overlay"></div>-->
    <!--</section>-->
    <!--<a href="/">Home</a>-->
    <!--<a href="/about">About</a>-->
    <section id="account" style="background-image: linear-gradient(#FF9603, #FCEF00); height:100vh">
      <div class="container">
        <div class="section-heading text-center" style="padding-top: 10rem">
          <h1>My Account</h1>
          <hr>
        </div>

          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row text-center">
                <div class="header" style="text-align: left;width: 150%" !important>
                  <div class="feature-item">
                    <h3>Name: <%=@name%></h3>
                    <h3>Email: <%=@email%></h3>
                    <h3>Password: <%=@password%></h3>
                    <%if @level != nil%>
                      <h3>Your last level used was Level <%=@level%></h3>
                    <%end%>
                    <h3>Level 1: <a href="/yesNo/<%=@id%>">Yes/No</a></h3>
                    <h3>Level 2: <a href="/picBoard/<%=@id%>">Picture Board</a></h3>
                    <h3>Level 3: <a href="/personalWords/<%=@id%>">Personalized Words</a></h3>
                    <h3>Level 4: <a href="/email/<%=@id%>">Email Template</a></h3>
                    <br>
                  </div>
                  </div>
              </div>
              
            <div class = "row text-center">
              <div class = "col-lg-4"></div>
              <div class = col-lg-4>
              </div>
              <div class = col-lg-4></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="contacts" style="background-image: white">
      <div class="container">
        <div class="section-heading text-center" style="padding-top: 10rem">
          <h1>Contacts</h1>
          <hr>
        </div>

          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row text-center">
                <div class="header" style="text-align: left;width: 150%" !important>
                  <div class="feature-item">
                    <%if @contacts == []%>
                      <h3>No contacts listed</h3>
                    <%else%>
                      <%@contacts.each_with_index do |contact, i|%>
                        <h3>Name: <%=@contacts[i][0]%></h3>
                        <h3>Email: <%=@contacts[i][1]%></h3>
                        <h3>Phone Number: <%=@contacts[i][2]%></h3>
                        <br>
                      <%end%>
                    <%end%>
                    <br><br>
                    <h2>Add Contacts</h2>
                    <div class = "col-lg-6 form-inline" style="display: inline">
                      <form method="POST" action="/add-contact">
                        <h4>Name:</h4>
                        <input type="text" name="name" required>
                        <br>
                        <h4>Email:</h4>
                        <input type="text" name="email" required>
                        <br>
                        <h4>Phone Number:</h4>
                        <input type="text" name="phone" required>
                        <br>
                        <h4></h4>
                        <input type="hidden" name="id" value="<%=@id%>">
                        <input type="submit" class = "btn btn-default">
                      </form>
                    </div>
                  </div>
                </div>
                <div class = "col-lg-6 form-inline noshow" style="display: inline">
                  <form method="POST" action="/delete-contact">
                    <h4>Choose the contacts you would like to remove:</h4>
                    <%if @contacts == []%>
                      <h3>No contacts listed</h3>
                    <%else%>
                      <%@contacts.each_with_index do |contact, i|%>
                        <%@contactId = i%>
                        <input type="checkbox" name="contactId" value="<%=@contactId%>">
                        <h3>Name: <%=@contacts[i][0]%></h3>
                        <h3>Email: <%=@contacts[i][1]%></h3>
                        <h3>Phone Number: <%=@contacts[i][2]%></h3>
                        <br>
                      <%end%>
                    <%end%>
                    <input type="submit" class = "btn btn-default">
                  </form>
                </div>
              </div>
              
            <div class = "row text-center">
              <div class = "col-lg-4"></div>
              <div class = col-lg-4>
              </div>
              <div class = col-lg-4></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="words" style="background-image: linear-gradient(#FF9603, #FCEF00)">
      <div class="container">
        <div class="section-heading text-center" style="padding-top: 10rem">
          <h1>Personalized Words</h1>
          <hr>
        </div>

          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row text-center">
                <div class="header" style="text-align: left;width: 150%" !important>
                  <div class="feature-item">
                    <%if @words == nil%>
                      <h3>No personalized words</h3>
                    <%else%>
                      <%@words.each_with_index do |value, i|%>
                        <ul>
                          <li><h3><%=@words[i]%></h3></li>
                        </ul>
                      <%end%>
                    <%end%>
                    <br><br>
                    <h2>Add Personalized Words</h2>
                    <div class = "col-lg-6 form-inline" style="display: inline">
                      <form method="POST" action="/add-word">
                        <h4>New Word:</h4>
                        <input type="text" name="word" required>
                        <br>
                        <h4></h4>
                        <input type="hidden" name="id" value="<%=@id%>">
                        <input type="submit" class = "btn btn-default">
                      </form>
                    </div>
                  </div>
                  </div>
              </div>
              
            <div class = "row text-center">
              <div class = "col-lg-4"></div>
              <div class = col-lg-4>
              </div>
              <div class = col-lg-4></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!--<section id="contacts" style="background-image: white">-->
    <!--  <div class="container">-->
    <!--    <div class="section-heading text-center" style="padding-top: 10rem">-->
    <!--      <h1>Credit Card Info</h1>-->
    <!--      <hr>-->
    <!--    </div>-->

    <!--      <div class="col-lg-12 my-auto">-->
    <!--        <div class="container-fluid">-->
    <!--          <div class="row text-center">-->
    <!--            <div class="header" style="text-align: left;width: 150%" !important>-->
    <!--              <div class="feature-item">-->
                    
    <!--                </div>-->
    <!--              </div>-->
    <!--              </div>-->
    <!--          </div>-->
              
    <!--        <div class = "row text-center">-->
    <!--          <div class = "col-lg-4"></div>-->
    <!--          <div class = col-lg-4>-->
    <!--          </div>-->
    <!--          <div class = col-lg-4></div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</section>-->

<!--<h4><%=@number%></h4>-->
<!--<a href="sms://+12485715560">Send a SMS message</a>-->
<!--<a href="tel://+12485715560">Call</a>-->
<!--<a href="mailto:<%=@number%>@txt.att.net?subject=Your_Subject&body=Your_Body_Text">Email</a>-->

<!--<?php-->
<!--    if(isset($_POST['submit'])) {-->
<!--        $email_to = $_POST['emailTo'];-->
<!--        $email_subject = "Email subject";-->
<!--        $first_name = $_POST['first_name']; -->
<!--        $email_from = $_POST['emailFrom']; -->
        
<!--    $headers = 'From: '.$email_from.-->
<!--    mail($email_to, $email_subject, $email_message, $headers);-->
<!--    ?>-->

<!--<form action="/send" method="POST">-->
<!--  <h1 class="form-title">Student Detail Form</h1>-->
<!--  <h4>Name</h4>-->
<!--  <input type="text" name="first_name" placeholder="Robert Thomas" required>-->
<!--  <label>Message</label>-->
<!--  <input type="text" name="message" placeholder="Message" required>-->
<!--  <input type="hidden" name="emailTo" value="<%=@number%>@txt.att.net">-->
<!--  <input type="hidden" name="emailFrom" value="<%=@email%>">-->
<!--  <button type="submit" name="submit">Submit</button>-->
<!--</form>-->


    <footer class="bg-black small text-center text-white-50">
      <div class="container" style="color:white">
        Copyright &copy; VITAMIN SEE 2018
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script type="text/script" src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/grayscale.js"></script>

  </body>
</html>