<!DOCTYPE html>
<html>
  <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130132342-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-130132342-2');
    </script>

    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="shortcut icon" href="../img/sprout.ico">

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="../css/style8.3.css">
  </head>
  <body id = "page-top">
        <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" >
      <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Vitam</a>
      <!-- still doesn't work -->
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      -->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#account">My Account</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contacts">My Contacts</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Log Out</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#words">Personalized Words</a>
          </li> -->
        </ul>
      </div>
    </nav>
    <!--  <div class="cta-content">-->
    <!--  </div>-->
    <!--  <div class="overlay"></div>-->
    <!--</section>-->
    <!--<a href="/">Home</a>-->
    <!--<a href="/about">About</a>-->
    <section id="account" style="background-image: linear-gradient(#88D6F2, #72F274); height:100vh">
      <div class="container">
        <div class="section-heading text-center" style="padding-top: 10rem">
          <h1>My Account</h1>
          <hr>
        </div>

        <% if @tut == 1%>
          <div class="modal show" style="background: rgb(128, 128, 128, 0.5)" id="tut">
            <div class="tutorial show" id="step-1">
              <h4>This shows your account information.</h4>
              <button class="btn my-btn" onclick="nextStep(1)">Next</button>
              <div class="arrow arrow-down" style="margin-left: 40%; margin-top:5.5%">
              </div>
            </div>
            <div class="tutorial noshow templates" id="step-2">
              <div class="arrow arrow-up" style="margin-left: 47.5%; margin-top:-2.8%">
              </div>
              <h4>These are the available templates.</h4>
              <button class="btn my-btn" onclick="backStep(2)">Back</button>
              <button class="btn my-btn" onclick="nextStep(2)">Next</button>
            </div>
            <div class="tutorial noshow templates" id="step-3">
              <div class="arrow arrow-up" style="margin-left: 9%; margin-top:-2.8%">
              </div>
              <h4>The Yes/No template has two boxes, Yes and No. The Yes/No has an eye tracker fitted with them.</h4>
              <button class="btn my-btn" onclick="backStep(3)">Back</button>
              <button class="btn my-btn" onclick="nextStep(3)">Next</button>
            </div>
            <div class="tutorial noshow templates" id="step-4">
              <div class="arrow arrow-up" style="margin-left: 27%; margin-top:-2.8%">
              </div>
              <h4>The Picture Board has pictures and words of certain physical requests. The Picture Board has an eye tracker fitted with them.</h4>
              <button class="btn my-btn" onclick="backStep(4)">Back</button>
              <button class="btn my-btn" onclick="nextStep(4)">Next</button>
            </div>
            <div class="tutorial noshow templates" id="step-5">
              <div class="arrow arrow-up" style="margin-left: 45%; margin-top:-2.8%">
              </div>
              <h4>The Message Template is completely personalizable with words and pictures. The words can be used to build messages. The messages can be copied and sent via text or email.</h4>
              <button class="btn my-btn" onclick="backStep(5)">Back</button>
              <button class="btn my-btn" onclick="nextStep(5)">Next</button>
            </div>
            <!-- <div class="tutorial noshow templates" id="step-6" style="width:82%">
              <div class="arrow arrow-up" style="margin-left: 64%; margin-top:-2.7%">
              </div>
              <h4>The Email Template has a structured email format with an opening statement, body, closing statement, and sign off. Each section can be customized. The final email can be copied and sent.</h4>
              <button class="btn my-btn" onclick="backStep(6)">Back</button>
              <button class="btn my-btn" onclick="nextStep(6)">Next</button>
            </div> -->
            <div class="tutorial noshow templates" id="step-6">
              <div class="arrow arrow-up" style="margin-left: 47.5%; margin-top:-2.8%">
              </div>
              <h4>Click on any template to explore more. To return to this page, the account page, click on My Account at the top of the page.</h4>
              <button class="btn my-btn" onclick="backStep(6)">Back</button>
              <button class="btn my-btn" onclick="closeModal('tut')">Done</button>
            </div>
          </div>
          <div class="col-lg-12 my-auto highlight" id="1">
        <% else %>
          <div class="col-lg-12 my-auto" id="1">
        <% end %>

            <div class="container-fluid">
              <div class="row text-center">
                <div class="header" style="text-align: left;width: 150%" !important>
                  <div class="feature-item">
                    <div>
                      <h3 style="display: inline-block">Name: <%=@name%></h3>
                      <h3 style="display: inline-block; float: right"><button onclick="viewPass()" class="btn btn-sm my-btn btn-light" id="viewPass" style="color: grey">View Password</button></h3>
                      <h3 style="display: inline-block; float: right"><button onclick="hidePass()" class="btn my-btn btn-sm btn-light noshow" id="hidePass" style="color: grey">Hide Password</button></h3>
                      <h3>Email: <%=@email%></h3>
                      <h3 style="display: inline-block">Password: </h3>
                      <h3 id="secret" style="display: inline-block"><%="*" * @password.length%></h3>
                      <h3 id="open" class="noshow" style="display: inline-block"><%=@password%></h3>
                    </div>
                    <%# <br> %>
                  </div>
                  </div>
              </div>
          </div>
        </div>

        <div class="col-lg-12 my-auto" id="2" style="padding-bottom:2rem">
            <div class="container-fluid">
              <div class="row text-center">
                <div class="header" style="text-align: left;width: 150%" !important>
                  <div class="feature-item">
                    <div>
                      <br>
                      <h3>Your Templates:</h3>
                      <h3 style="display: inline-block"><button class="btn my-btn btn-light link-btn"><a href="/yesNo/<%=@id%>">Yes/No Template</a></button></h3>
                      <h3 style="display: inline-block"><button class="btn my-btn btn-light link-btn"><a href="/picBoard/<%=@id%>">Picture Board</a></button></h3>
                      <% if @tut == 1 %>
                        <h3 style="display: inline-block"><button class="btn my-btn btn-light link-btn"><a href="/personalWords/tutorial">Message Template</a></button></h3>
                      <%else %>
                        <h3 style="display: inline-block"><button class="btn my-btn btn-light link-btn"><a href="/personalWords/<%=@id%>">Message Template</a></button></h3>
                      <%end%>
                      <!-- <h3 style="display: inline-block"><button class="btn my-btn btn-light"><a href="/email/<%=@id%>">Email Template</a></button></h3>
                      -->
                      <h2 style="color: #eb4034"><%=@output%></h2>
                    </div>
                    <%if @level.to_i == 1%>
                        <h3>Your last template used was the Yes/No Template.</h3>
                        <h3>Continue using it by clicking on it above.</h3>
                      <%elsif @level.to_i == 2%>
                        <h3>Your last template used was the Picture Board.</h3>
                        <h3>Continue using it by clicking on it above.</h3>
                      <%elsif @level.to_i == 3%>
                        <h3>Your last template used was the Message Template.</h3>
                        <h3>Continue using it by clicking on it above.</h3>
                      <%elsif @level.to_i == 4%>
                        <h3>Your last template used was the Email Template.</h3>
                        <h3>Continue using it by clicking on it above.</h3>
                      <%end%>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!--
    <section id="contacts" style="background-image: white">
      <div class="container">
        <div class="section-heading text-center" style="padding-top: 10rem">
          <h1>Contacts</h1>
          <hr>
        </div>

          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row text-center">
                <div class="header" style="text-align: left;width: 150%" !important>
                  <div class="feature-item" style="display: inline-grid">
                    <%if @contacts == []%>
                      <h3 id="noCons">No contacts listed</h3>
                    <%else%>
                      <%@contacts.each_with_index do |contact, i|%>
                        <h3>Name: <%=@contacts[i][0]%></h3>
                        <h3>Email: <%=@contacts[i][1]%></h3>
                        <h3>Phone Number: <%=@contacts[i][2]%></h3>
                        <br>
                      <%end%>
                    <%end%>
                    
                  </div>
                    <button onclick="editContact()" class="btn my-btn btn-secondary btn-sm" id="delButton" style="display: inline; float: right">Delete Contacts</button>
                    <%# <button onclick="done()" id="done" class="noshow" style="display: inline; float: right">Done</button> %>
                    <div class = "col-lg-6 form-inline" style="display: inline">
                      
                      <form id="addContact"  method="POST" action="/add-contact">
                        <h2>Add Contacts</h2>
                        <h4>Name:</h4>
                        <input type="text" name="name" required>
                        <br>
                        <h4>Email:</h4>
                        <input type="text" name="email" required>
                        <br>
                        <h4>Phone Number:</h4>
                        <input type="text" name="phone" required>
                        <br>
                        <h4></h4>
                        <input type="hidden" name="id" value="<%=@id%>">
                        <input type="submit" class="btn btn-light hov-special" style="width: auto">
                      </form>
                    </div>
                    <br><br>
                    <%# Need this as a pop up so that it is impossible to actually delete contact %>
                    <div class="modal noshow" id="prevDel" style="background: rgb(128, 128, 128, 0.5)">
                      <div class="pop-up">
                        <h3>Cannot Delete Contacts. No contacts listed</h3>
                        <button class="btn my-btn btn-outline-secondary" onclick="closeModal('prevDel')">Ok</button>
                      </div>
                    </div>
                <div class = "col-lg-6 form-inline" style="display: inline">
                  <form id="editContact" class="noshow" method="POST" action="/delete-contact">
                    <h2>Choose the contacts you would like to remove:</h2>
                    <h4>This cannot be undone.</h4>
                    <h4>Submitting without choosing any contacts to delete will keep all of your current contacts.</h4>                      
                    <%@contacts.each_with_index do |contact, i|%>
                      <%@contactId = i%>
                      <input id="checkmark" type="checkbox" name="contactId<%=@contactId%>" value="<%=@contactId%>">
                      <div style="display:inline-grid">
                      <h3>Name: <%=@contacts[i][0]%></h3>
                      <h3>Email: <%=@contacts[i][1]%></h3>
                      <h3>Phone Number: <%=@contacts[i][2]%></h3>
                      </div>
                      <br>
                    <%end%>
                    <input type="hidden" name="id" value="<%=@id%>">
                    <input type="submit" class = "btn btn-default">
                  </form>
                  </div>
                </div>
              </div>
              
            <div class = "row text-center">
              <div class = "col-lg-4"></div>
              <div class = col-lg-4>
              </div>
              <div class = col-lg-4></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    -->

    
    <section class="bg-light" id="words">
      <div class="container">
        <div class="section-heading text-center" style="padding-top: 10rem">
          <h1>Personalized Words and Images</h1>
          <hr>
          <h3>These words and images are used in the Message Template and will be displayed in the order that is listed.</h3>
        </div>

          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row text-center">
                <div class="header" style="text-align: left;width: 150%" !important>
                  <div class="feature-item">
                    <%if @words == []%>
                      <h3>No personalized words or images</h3>
                    <%else%>
                      <%@rowNum = @words.length / 4.0%>
                      <%if @rowNum.to_i.to_f == @rowNum%>
                        <%@rowNum = @rowNum.to_i%>
                      <%else%>
                        <%@rowNum = @rowNum.to_i + 1%>
                      <%end%>
                      <%@wordNum = 0%>
                      <table class="email">
                        <%for i in (0..@rowNum-1)%>
                        <tr>
                          <td>
                            <p><%=@words[@wordNum]%></p>
                            <img src="<%=@imgs[@wordNum]%>">
                          </td>
                          <%@wordNum += 1%>
                          <%if @wordNum == @words.length%>
                            <!-- instead of breaking out of the for loop and cutting the table off, this just creates blank boxes and allows all of the table functions to appear -->
                            <%@words[@wordNum] = ""%>
                            <%@imgs[@wordNum] = ""%>
                          <%end%>
                          <td>
                            <p><%=@words[@wordNum]%></p>
                            <img src="<%=@imgs[@wordNum]%>">
                          </td>
                          <%@wordNum += 1%>
                          <%if @wordNum == @words.length%>
                            <%@words[@wordNum] = ""%>
                            <%@imgs[@wordNum] = ""%>
                          <%end%>
                          <td>
                            <p><%=@words[@wordNum]%></p>
                            <img src="<%=@imgs[@wordNum]%>">
                          </td>
                          <%@wordNum += 1%>
                          <%if @wordNum == @words.length%>
                            <%@words[@wordNum] = ""%>
                            <%@imgs[@wordNum] = ""%>
                          <%end%>
                          <td>
                            <p><%=@words[@wordNum]%></p>
                            <img src="<%=@imgs[@wordNum]%>">
                          </td>
                          <%@wordNum += 1%>
                          <%if @wordNum == @words.length%>
                            <%@words[@wordNum] = ""%>
                            <%@imgs[@wordNum] = ""%>
                          <%end%>
                        </tr>
                        <%end%>
                      </table>
                    <%end%>
                    <br><br>
                    <h2>Add Personalized Words and Images</h2>
                    <div class = "col-lg-6 form-inline" style="display: inline">
                      <form method="POST" action="/add-word" enctype="multipart/form-data">
                        <h4>New Word:</h4>
                        <input type="text" name="word">
                        <br>
                        <h4>New Image:</h4>
                        <input type="file" accept=".png, .jpg, .jpeg" name="img" id="photo0" onchange="updateImageDisplay(0)" style="padding:0; box-shadow: 0 0 0 0 !important">
                        <!-- <input type="hidden" name="img0" id="img0"> -->
                        <img id="preview0" style="width:30%; height:auto; margin-bottom:1rem">
                        <input type="hidden" name="id" value="<%=@id%>">
                        <input type="submit" class = "btn btn-light hov-special" style="width:auto; display:block">
                      </form>
                    </div>
                  </div>
                  </div>
              </div>
              
            <div class = "row text-center">
              <div class = "col-lg-4"></div>
              <div class = col-lg-4>
              </div>
              <div class = col-lg-4></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    

    <script>
      function editContact() {
        var contacts = document.getElementById("noCons");
        console.log(contacts)
        if (contacts == null) {
          var id = document.getElementById("editContact");
          var id2 = document.getElementById("addContact");
          $(id).removeClass('noshow');
          $(id2).addClass('noshow');
          var id3 = document.getElementById("done");
          var id4 = document.getElementById("delButton");
          $(id3).removeClass('noshow');
          $(id4).addClass('noshow');
        } else {
            var id = document.getElementById("prevDel");
            $(id).removeClass('noshow');
            $(id).addClass("show");
        }
      }

      function viewPass() {
        var id = document.getElementById("open");
        var id2 = document.getElementById("secret");
        $(id).removeClass('noshow');
        $(id2).addClass('noshow');
        var id3 = document.getElementById("hidePass");
        var id4 = document.getElementById("viewPass");
        $(id3).removeClass('noshow');
        $(id4).addClass('noshow');
      }

      function hidePass() {
        var id = document.getElementById("open");
        var id2 = document.getElementById("secret");
        $(id2).removeClass('noshow');
        $(id).addClass('noshow');
        var id3 = document.getElementById("hidePass");
        var id4 = document.getElementById("viewPass");
        $(id4).removeClass('noshow');
        $(id3).addClass('noshow');
      }

      function nextStep(pastStep) {
        var pastNum = pastStep;
        var nextNum = pastNum + 1;
        var pastId = "step-" + pastNum;
        var nextId = "step-" + (nextNum);
        var past = document.getElementById(pastId);
        var next = document.getElementById(nextId);
        $(past).removeClass("show");
        $(past).addClass("noshow");
        $(next).removeClass("noshow");
        $(next).addClass("show");
        if (pastStep == 1) {
          var endHighlight = document.getElementById(pastNum);
          var startHighlight = document.getElementById(nextNum);
          $(endHighlight).removeClass("highlight");
          $(startHighlight).addClass("highlight");
        }
      }

      function backStep(currStep) {
        var pastNum = currStep;
        var nextNum = pastNum - 1
        var pastId = "step-" + pastNum;
        var nextId = "step-" + (nextNum);
        var past = document.getElementById(pastId);
        var next = document.getElementById(nextId);
        $(past).removeClass("show");
        $(past).addClass("noshow");
        $(next).removeClass("noshow");
        $(next).addClass("show");
        if (currStep == 2) {
          var endHighlight = document.getElementById(pastNum);
          var startHighlight = document.getElementById(nextNum);
          $(endHighlight).removeClass("highlight");
          $(startHighlight).addClass("highlight");
        }
      }

      function closeModal(passId) {
        var id = passId;
        var div = document.getElementById(id);
        $(div).addClass("noshow");
        $(div).removeClass("show");
        if (passId == "tut") {
          var endHighlight = document.getElementById('2');
          $(endHighlight).removeClass("highlight");
        }
      }

      function updateImageDisplay(i) {
          const input = document.querySelector("#photo" + i)
          console.log(input);
          const preview = document.querySelector('#preview' + i);
          const curFiles = input.files;
          for(const file of curFiles) {
              preview.src = URL.createObjectURL(file);
              var real_src = preview.src;
              document.getElementById("img" + i).value = real_src;
              // console.log(document.getElementById("photo").value)
          }
      }

      function open(id) {
        var menu = document.getElementById(id);
        var open = $(menu).hasClass("collapse");
        console.log(menu);
        console.log(open);
        if (open) {
          console.log("hi");
          $(menu).removeClass("collapse");
        }
        else {
          $(menu).addClass("collapse");
        }
      }

      <%# function done() {
        var id2 = document.getElementById("editContact");
        var id = document.getElementById("addContact");
        $(id).removeClass('noshow');
        $(id2).addClass('noshow');
        var id4 = document.getElementById("done");
        var id3 = document.getElementById("delButton");
        $(id3).removeClass('noshow');
        $(id4).addClass('noshow');
      } %>
    </script>

    <!--<section id="contacts" style="background-image: white">-->
    <!--  <div class="container">-->
    <!--    <div class="section-heading text-center" style="padding-top: 10rem">-->
    <!--      <h1>Credit Card Info</h1>-->
    <!--      <hr>-->
    <!--    </div>-->

    <!--      <div class="col-lg-12 my-auto">-->
    <!--        <div class="container-fluid">-->
    <!--          <div class="row text-center">-->
    <!--            <div class="header" style="text-align: left;width: 150%" !important>-->
    <!--              <div class="feature-item">-->
                    
    <!--                </div>-->
    <!--              </div>-->
    <!--              </div>-->
    <!--          </div>-->
              
    <!--        <div class = "row text-center">-->
    <!--          <div class = "col-lg-4"></div>-->
    <!--          <div class = col-lg-4>-->
    <!--          </div>-->
    <!--          <div class = col-lg-4></div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</section>-->

<!--<h4><%=@number%></h4>-->
<!--<a href="sms://+12485715560">Send a SMS message</a>-->
<!--<a href="tel://+12485715560">Call</a>-->
<!--<a href="mailto:<%=@number%>@txt.att.net?subject=Your_Subject&body=Your_Body_Text">Email</a>-->

<!--<?php-->
<!--    if(isset($_POST['submit'])) {-->
<!--        $email_to = $_POST['emailTo'];-->
<!--        $email_subject = "Email subject";-->
<!--        $first_name = $_POST['first_name']; -->
<!--        $email_from = $_POST['emailFrom']; -->
        
<!--    $headers = 'From: '.$email_from.-->
<!--    mail($email_to, $email_subject, $email_message, $headers);-->
<!--    ?>-->

<!--<form action="/send" method="POST">-->
<!--  <h1 class="form-title">Student Detail Form</h1>-->
<!--  <h4>Name</h4>-->
<!--  <input type="text" name="first_name" placeholder="Robert Thomas" required>-->
<!--  <label>Message</label>-->
<!--  <input type="text" name="message" placeholder="Message" required>-->
<!--  <input type="hidden" name="emailTo" value="<%=@number%>@txt.att.net">-->
<!--  <input type="hidden" name="emailFrom" value="<%=@email%>">-->
<!--  <button type="submit" name="submit">Submit</button>-->
<!--</form>-->


    <footer class="bg-black small text-center text-white-50">
      <div class="container" style="color:white">
        Copyright &copy; VITAM 2019
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script type="text/script" src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/grayscale.js"></script>

  </body>
</html>